In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/realstate-data/real_estate_data.csv
/kaggle/input/exercise-data/hiring.csv

In [2]:
import matplotlib.pyplot as plt

In [3]:
from sklearn import linear_model

In [4]:
import math

In [5]:
df = pd.read_csv("/kaggle/input/realstate-data/real_estate_data.csv")

In [6]:
df.head(5)

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

   Area (sq ft)  Bedrooms  Price (in lakhs)  Age (years)
0          2678       3.0               115         19.0
1          1326       3.0               116          0.0
2           872       2.0                58          8.0
3           609       4.0               205          NaN
4          2560       2.0               189         10.0

In [7]:
median_bedrooms = math.floor(df.Bedrooms.median())

In [8]:
df.Bedrooms.fillna(median_bedrooms).head()

0    3.0
1    3.0
2    2.0
3    4.0
4    2.0
Name: Bedrooms, dtype: float64

In [9]:
df.Bedrooms = df.Bedrooms.fillna(median_bedrooms)
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

   Area (sq ft)  Bedrooms  Price (in lakhs)  Age (years)
0          2678       3.0               115         19.0
1          1326       3.0               116          0.0
2           872       2.0                58          8.0
3           609       4.0               205          NaN
4          2560       2.0               189         10.0

In [10]:
mean_age = math.floor(df["Age (years)"].mean())
df["Age (years)"] = df["Age (years)"].fillna(mean_age)

In [11]:
df.head(8)

   Area (sq ft)  Bedrooms  Price (in lakhs)  Age (years)
0          2678       3.0               115         19.0
1          1326       3.0               116          0.0
2           872       2.0                58          8.0
3           609       4.0               205         13.0
4          2560       2.0               189         10.0
5          1431       5.0               272         18.0
6           798       4.0                80         17.0
7          2986       5.0               177         10.0

**PREDICTING THE PRICE**


PRICE = M1 * AREA + M2 * NO. OF BEDROOMS + M3 * AGE + B

*PRICE BEING DEPENDED ON AREA ,NO 0F BEDROOMS AND AGE*