In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/heart-failure-prediction/heart.csv

In [2]:
from scipy import stats

In [3]:
df = pd.read_csv("/kaggle/input/heart-failure-prediction/heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
print(df.describe)

<bound method NDFrame.describe of      Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]>

In [5]:
df['Z_score'] = np.abs(stats.zscore(df[['Cholesterol']]))

In [6]:
# Set threshold (commonly 3)
threshold = 3

# Remove outliers
df_clean = df[df['Z_score'] < threshold]
df_clean.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Z_score
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.825070
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0.171961
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.770188
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.139040
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.034755

In [7]:
df_clean.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Z_score
count,915.000000,915.000000,915.000000,915.000000,915.000000,915.000000,915.000000,915.000000
mean,53.519126,132.433880,197.597814,0.232787,136.804372,0.887432,0.553005,0.745543
std,9.410666,18.529259,107.511650,0.422839,25.486556,1.067649,0.497454,0.640928
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.001833
25%,47.000000,120.000000,173.000000,0.000000,120.000000,0.000000,0.000000,0.221363
50%,54.000000,130.000000,222.000000,0.000000,138.000000,0.600000,1.000000,0.541511
75%,60.000000,140.000000,266.500000,0.000000,156.000000,1.500000,1.000000,1.104056
max,77.000000,200.000000,518.000000,1.000000,202.000000,6.200000,1.000000,2.919751

In [8]:
df['Z_score'] = np.abs(stats.zscore(df[['RestingBP']]))
df_clean = df[df['Z_score'] < threshold]

In [9]:
df['Z_score'] = np.abs(stats.zscore(df[['MaxHR']]))
df_clean = df[df['Z_score'] < threshold]

In [10]:
df_clean = df_clean.drop(["Z_score"],axis=1)
df_clean.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [11]:
df_clean.nunique()

Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             118
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64

In [12]:
pd.unique(df_clean["ST_Slope"])

array(['Up', 'Flat', 'Down'], dtype=object)

In [13]:
# df_encoded= df_clean.copy()
# df_encoded.Sex.replace({
#         "M":1,
#         "F":0
#     }, inplace = True)

# df_encoded.ChestPainType.replace({
#     "ATA":1,
#     "NAP":2,
#     "ASY":3,
#     "TA":4 
#     },inplace = True)

# df_encoded.RestingECG.replace({
#         "Normal":1,
#         "ST":2,
#         "LVH":3
#     },inplace = True)

# df_encoded.ExerciseAngina.replace({
#         "Y":1,
#         "N":2
#     },inplace=True)

# df_encoded.ST_Slope.replace({
#         "Up":1,
#         "Down":0,
#         "Flat":2
#     },inplace=True)

In [14]:
df_encoded= df_clean.copy()
para = {
    "Sex ":{
        "M":1,
        "F":0
    },
    "ChestPainType":{
    "ATA":1,
    "NAP":2,
    "ASY":3,
    "TA":4 
    },
    "RestingECG":{
        "Normal":1,
        "ST":2,
        "LVH":3
    },
    "ExerciseAngina":{
        "Y":1,
        "N":2
    },
    "ST_Slope":{
        "Up":1,
        "Down":0,
        "Flat":2
    }
}

In [15]:
# df_encoded = df_clean.copy()
# df_encoded = df_encoded.replace(para).infer_objects(copy=False)

In [16]:
dummies = pd.get_dummies(df_clean,columns=["ChestPainType","RestingECG","ExerciseAngina","ST_Slope","Sex"],drop_first = True).astype(int)

In [17]:
dummies

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up,Sex_M
0,40,140,289,0,172,0,0,1,0,0,1,0,0,0,1,1
1,49,160,180,0,156,1,1,0,1,0,1,0,0,1,0,0
2,37,130,283,0,98,0,0,1,0,0,0,1,0,0,1,1
3,48,138,214,0,108,1,1,0,0,0,1,0,1,1,0,0
4,54,150,195,0,122,0,0,0,1,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,1,1,0,0,1,1,0,0,1,0,1
914,68,144,193,1,141,3,1,0,0,0,1,0,0,1,0,1
915,57,130,131,0,115,1,1,0,0,0,1,0,1,1,0,1
916,57,130,236,0,174,0,1,1,0,0,0,0,0,1,0,0
917,38,138,175,0,173,0,0,0,1,0,1,0,0,0,1,1

In [18]:

df_encoded

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0